# Данные проекта и датасеты
resources/
resorces/
data/
datasets/
raw_data/

# Тяжелые таблицы и архивы
*.csv
*.tsv
*.xlsx
*.xls
*.parquet
*.h5
*.zip
*.tar.gz

# Настройки PyCharm и IDE
.idea/
.vscode/
*.iws
*.iml
.DS_Store

# Python cache & venv
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Тесты и дашборд
.pytest_cache/
.streamlit/secrets.toml
